<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Thegioididong.com Test Suite" verbose="2">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Homepage &amp; Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Search Tests">
        <classes>
            <class name="tests.SearchTest"/>
        </classes>
    </test>

    <test name="Product &amp; Cart Tests">
        <classes>
            <class name="tests.SearchAndCartTest"/>
        </classes>
    </test>

    <test name="Cart Page Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
